[include host/*.cfg]

[include toolhead/*.cfg]

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include lcd/*.cfg]

# IF YOU HAVE KLIPPERSCREEN / AN HDMI DISPLAY ATTACHED TO YOUR PRINTER
# [include hardware/hdmi/*.cfg]

[include steppers/*.cfg]

[include bed/*.cfg]

[include fans/*.cfg]